<p>
  Showing Timesheet for employee: <strong><%= @employee.email %></strong>
</p>

<% if @employee_timesheets.present? %>
  <%= form_tag(timesheets_employee_timesheet_path(@employee.id), { method: "PUT", remote: true }) do %>
    <div id="error-container">

    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>For Date</th>
        </tr>
      </thead>

      <tbody>
        <% @employee_timesheets.each do |timesheet| %>
          <tr>
            <td>

              <%= link_to get_date_in_format(timesheet.for_date, "%b %d, %Y"), "javascript:void(0);", class: "btn", data: { toggle: "collapse", target: "#timesheet-entry-#{timesheet.id}" } %>

              <div id="<%= "timesheet-entry-#{timesheet.id}" %>" class="panel-collapse collapse">
                <table id="timesheet-entires" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Project</th>
                      <th>Task</th>
                      <th>Hours Spent</th>
                      <th>Description</th>
                      <th>Approve</th>
                      <th>Reject</th>
                      <th>Keep Pending</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% timesheet.pending_entries.each do |entry| %>
                      <tr id="row-<%= entry.id %>">
                        <td>
                          <%= entry.project.name %>
                        </td>
                        <td>
                          <%= entry.project_task.name %>
                        </td>
                        <td>
                          <%= entry.time_spent %>
                        </td>
                        <td>
                          <%= get_text_with_tooltip entry.description %>
                        </td>
                        <td>
                          <%= radio_button_tag "timesheet_entries[#{entry.id}][status]", AppEnumerables::TimesheetEntryStatus::Approved.value, entry.approved?  %>
                        </td>
                        <td>
                          <%= radio_button_tag "timesheet_entries[#{entry.id}][status]", AppEnumerables::TimesheetEntryStatus::Rejected.value, entry.rejected?  %>
                        </td>
                        <td>
                          <%= radio_button_tag "timesheet_entries[#{entry.id}][status]", AppEnumerables::TimesheetEntryStatus::Pending.value, entry.pending?  %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= submit_tag "Update", id: "submit", name: "submit", class: "btn btn-primary pull-right form_submit", disabled: false, disable_with: "Please wait..." %>

  <% end %> <!-- Form End -->

  <%= render partial: '/shared/paginate_collection', locals: { records: @employee_timesheets } %>

<% end %>