<%= form_for([:user_management, @user]) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="span9">
    <%= f.label :role_id, "Role" %>
    <%= f.select :role_id, Role.all.collect {|r| [ r.name, r.id ] }, { include_blank: true }, class: "select2" %>
  </fieldset>

  <fieldset class="span4">
    <%= f.label :username, "Username" %>
    <%= f.text_field :username %>
  </fieldset>

  <fieldset class="span4">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </fieldset>

  <%= update_password_on_edit %>

  <fieldset class="span4">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
  </fieldset>

  <fieldset class="span4">
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </fieldset>

  <fieldset class="span9">
    <%= f.check_box :send_email %>
    <%= f.label :send_email, class: "checkbox inline" %>
  </fieldset>

  <fieldset class="span9">
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
