<h1>Listing users</h1>
<div class="navbar container-fluid nav-collapse">
  <ul class="nav">
    <li><%= link_to "All", user_management_users_path(scope: "all"), id: "abc" %></li>
    <% User::STATUS.each do |key, value| %>
      <li>
        <%= link_to key.to_s.capitalize, user_management_users_path(scope: key.to_s,) %>
      </li>
    <% end %>
  </ul>
</div><!--/.nav-collapse -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Email
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user_management_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_user_management_user_path(user) %></td>
        <td><%= link_to 'Destroy', user_management_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_management_user_path %>
