<%= form_for([:user_management, @role]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @role, name: "role" } %>

  <fieldset class="span9">
    <%= f.label :name, "Role Name" %>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset class="span9">
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
