<h1>Listing Roles</h1>

<%= render partial: '/shared/paginate_collection', locals: { records: @roles } %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Users In Role</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <% count = role.users_count || 0 %>
      <tr>
        <td><%= role.name %></td>
        <td><%= count %></td>
        <td class='align-center'><%= link_to edit_icon, edit_user_management_role_path(role) %></td>
        <td class='align-center'><%= role_detroy_link(role, count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_user_management_role_path, class: "btn"  %>
