<h1>Edit Profile</h1>

<%= form_for @profile do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @profile, name: "profile" } %>

  <fieldset class="span5">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </fieldset>
  <fieldset class="span5">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </fieldset>

  <p></p>

  <fieldset class="span5">
    <%= f.label :dob, "Date of Birth" %><br />
    <%= f.text_field :dob, value: @profile.dob.try(:strftime,"%m/%d/%Y"), class: "date" %>
  </fieldset>

  <fieldset class="span5">
    <%= f.label :gender %><br />
    <%= f.select :gender, collection_for(AppEnumerables::Gender), { include_blank: true }, class: "select2" %>
  </fieldset>

  <p></p>

  <fieldset class="span5">
    <%= f.label :maritial_status %><br />
    <%= f.select :maritial_status, collection_for(AppEnumerables::MaritialStatus), { include_blank: true }, class: "select2" %>
  </fieldset>

  <fieldset class="span5">
    <%= f.submit %>
  </fieldset>

<% end %>


