<%= form_for([:job, @work_shift]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @work_shift, name: "work shift" } %>

  <fieldset>
    <%= f.label :name, "Shift Name" %><br>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :from %><br>
    <%= f.time_select :from, {}, class: "time" %>
  </fieldset>
  <fieldset>
    <%= f.label :to %><br>
    <%= f.time_select :to, {}, class: "time" %>
  </fieldset>

  <fieldset>
    <%= f.label :user_ids, "Users" %><br>
    <%= f.select :user_ids, @work_shift.remaining_users.collect { |user| [user.username, user.id]}, { include_blank: false }, class: "select2", multiple: true %>
  </fieldset>

  <p></p>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
