<%= form_for([:job, @work_shift]) do |f| %>
  <% if @work_shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_shift.errors.count, "error") %> prohibited this work_shift from being saved:</h2>

      <ul>
      <% @work_shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :name, "Shift Name" %><br>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :from %><br>
    <%= f.time_select :from, {}, class: "time" %>
  </fieldset>
  <fieldset>
    <%= f.label :to %><br>
    <%= f.time_select :to, {}, class: "time" %>
  </fieldset>

  <fieldset>
    <%= f.label :user_ids, "Users" %><br>
    <%= f.select :user_ids, User.all.collect { |user| [user.username, user.id]}, { include_blank: false }, class: "select2", multiple: true %>
  </fieldset>

  <p></p>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
