<h1>Listing Work Shifts</h1>

<%= render partial: '/shared/paginate_collection', locals: { records: @work_shifts } %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Shift Name</th>
      <th>From</th>
      <th>To</th>
      <th>Duration</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_shifts.each do |work_shift| %>
      <tr>
        <td><%= work_shift.name %></td>
        <td><%= time_only work_shift.from %></td>
        <td><%= time_only work_shift.to %></td>
        <td><%= work_shift.duration %></td>
        <td>
          <%= link_to edit_icon, edit_job_work_shift_path(work_shift, pagination_params) %>
        </td>
        <td>
          <%= link_to delete_icon, job_work_shift_path(work_shift, pagination_params), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work shift', new_job_work_shift_path, class: "btn" %>