<%= form_for([:configuration, @work_week]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @work_week, name: "Work week" } %>

  <fieldset>
    <%= f.label :country, required_span_with("Country") %>
    <%= f.select :country, options_for_all_countries, { include_blank: true }, class: "select2" %>
  </fieldset>

  <br>

  <%= render partial: "weekdays_info_fields", collection: Date::DAYNAMES, as: :day_name %>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
