<%= form_for([:qualifications, @skill]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @skill, name: "skill" } %>

  <fieldset>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </fieldset>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
