<h1>Listing Skills</h1>

<%= render partial: '/shared/paginate_collection', locals: { records: @skills } %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.description.truncate 25 %></td>
        <td>
          <%= link_to edit_icon, edit_qualifications_skill_path(skill, pagination_params) %>
        </td>
        <td>
          <%= link_to delete_icon, qualifications_skill_path(skill, pagination_params), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill', new_qualifications_skill_path, class: "btn" %>