<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @qualifications_skill.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @qualifications_skill.description %>
</p>

<%= link_to 'Edit', edit_qualifications_skill_path(@qualifications_skill) %> |
<%= link_to 'Back', qualifications_skills_path %>
