<%= form_for([:job, @salary_component]) do |f| %>
  <% if @salary_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salary_component.errors.count, "error") %> prohibited this salary component from being saved:</h2>

      <ul>
      <% @salary_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :name, "Component Name" %>
    <%= f.text_field :name %>
  </fieldset>
  <p></p>

  <fieldset>
    <%= f.label :component_type, "Type" %>
    <%= f.collection_radio_buttons :component_type, AppEnumerables::SalaryComponentType, :value, :description, {}, class: "checkbox inline" %>
  </fieldset>
  <p></p>

  <fieldset>
    <%= f.label :only_ctc, "Only CTC?" %>
    <%= f.collection_radio_buttons :only_ctc, AppEnumerables::SalaryComponentOnlyCTC, :value, :description, {}, class: "checkbox inline" %>
  </fieldset>
  <p></p>

  <fieldset>
    <%= f.label :value_type, "Value Type" %>
    <%= f.collection_radio_buttons :value_type, AppEnumerables::SalaryComponentValueType, :value, :description, {}, class: "checkbox inline" %>
  </fieldset>
  <p></p>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
