<h1>Listing Salary Components</h1>

<%= render partial: '/shared/paginate_collection', locals: { records: @salary_components } %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Cost To Company?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @salary_components.each do |salary_component| %>
      <tr>
        <td><%= salary_component.name %></td>
        <td>
          <%= description_for(AppEnumerables::SalaryComponentType, salary_component.component_type) %>
        </td>
        <td>
          <%= description_for(AppEnumerables::SalaryComponentOnlyCTC, salary_component.only_ctc) %>
        </td>

        <td class='align-center'>
          <%= link_to edit_icon, edit_job_salary_component_path(salary_component) %>
        </td>
        <td class='align-center'>
          <%= link_to delete_icon, job_salary_component_path(salary_component, pagination_params), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salary component', new_job_salary_component_path, class: "btn" %>
