<%= form_for([:job, @employment_status]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @employment_status, name: "employment status" } %>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
