<h1>Listing employment statuses</h1>

<%= render partial: '/shared/paginate_collection', locals: { records: @employment_statuses } %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employment_statuses.each do |employment_status| %>
      <tr>
        <td><%= employment_status.name %></td>
        <td class='align-center'>
          <%= link_to edit_icon, edit_job_employment_status_path(employment_status) %>
        </td>
        <td class='align-center'>
          <%= link_to delete_icon, job_employment_status_path(employment_status, pagination_params), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment status', new_job_employment_status_path, class: "btn" %>
