<%= form_for(@leave_entitlement) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @leave_entitlement, name: "leave entitlement" } %>

  <fieldset>
    <%= f.label :user_id, required_span_with("User") %>
    <%= f.select :user_id, User.all.collect { |r| [ r.email, r.id ] } , { include_blank: true }, class: "select2" %><br>
  </fieldset>

  <fieldset>
    <%= f.label :organization_location_id, required_span_with("Location")%>
    <%= f.select :organization_location_id, OrganizationLocation.all.collect { |r| [ r.name, r.id ] } , { include_blank: true }, class: "select2" %><br>
  </fieldset>

  <fieldset>
    <%= f.label :leave_type_id, required_span_with("Leave Type")%>
    <%= f.select :leave_type_id, LeaveType.all.collect { |r| [ r.name, r.id ] } , { include_blank: true }, class: "select2" %><br>
  </fieldset>

  <fieldset>
    <br>
    <%= required_span_with("From") %>
    <%= f.text_field :from, value: get_date_in_format(@leave_entitlement.from, "%m/%d/%Y"), class: "date" %> -
    <%= required_span_with("To") %> -
    <%= f.text_field :to, value: get_date_in_format(@leave_entitlement.to, "%m/%d/%Y"), class: "date" %>
  </fieldset>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
