<%= form_for([:authentication, @openid_provider]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @openid_provider, name: "openid provider" } %>

  <fieldset>
    <%= f.label :name, required_span_with("Name") %>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset>
    <%= f.label :url, required_span_with("URL") %>
    <%= f.url_field :url %>
  </fieldset>


  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
