<h1>Listing job titles</h1>

<%= render partial: '/shared/paginate_collection', locals: { records: @job_titles } %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Specification File</th>
      <th>Note</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_titles.each do |job_title| %>
      <tr>
        <td><%= job_title.name %></td>
        <td>
          <%= get_text_with_tooltip(job_title.description) %>
        </td>
        <td id="specification-<%= job_title.id %>">
          <%= specification_file_link(job_title) %>
        </td>
        <td>
          <%= get_text_with_tooltip(job_title.note) %>
        </td>

        <td class='align-center'><%= link_to edit_icon, edit_job_job_title_path(job_title) %></td>
        <td class='align-center'><%= link_to delete_icon, job_job_title_path(job_title, pagination_params), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job title', new_job_job_title_path, class: "btn" %>
