<%= form_for(@document, html: {remote: true, multipart: true}) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @document, name: "document" } %>

  <fieldset>
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </fieldset>
  <fieldset>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </fieldset>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
