<h1>Listing Educations</h1>

<%= render partial: '/shared/paginate_collection', locals: { records: @qualifications_educations } %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Level</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @qualifications_educations.each do |qualifications_education| %>
      <tr>
      <td>
        <%= qualifications_education.level %>
      </td>
        <td>
          <%= link_to edit_icon, edit_qualifications_education_path(qualifications_education, pagination_params) %>
        </td>
        <td>
          <%= link_to delete_icon, qualifications_education_path(qualifications_education, pagination_params), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education', new_qualifications_education_path, class: "btn" %>