<%= form_for([:authentication, @ldap_configuration]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @ldap_configuration, name: "LDAP configuration" } %>

  <fieldset>
    <%= f.label :server, required_span_with("LDAP Server") %>
    <%= f.text_field :server %> Ex: 192.168.1.200
  </fieldset>

  <fieldset>
    <%= f.label :port, required_span_with("LDAP Port") %>
    <%= f.number_field :port %> Ex: 389
  </fieldset>

  <fieldset>
    <%= f.label :implementation, required_span_with("LDAP Iplementation") %>
    <%= f.select :implementation, collection_for(AppEnumerables::LDAPImplementation), { include_blank: true }, class: "select2" %>
  </fieldset>

  <fieldset>
    <%= f.label :protocol, required_span_with("LDAP Protocol") %>
    <%= f.select :protocol, collection_for(AppEnumerables::LDAPProtocol), { include_blank: true }, class: "select2" %>
  </fieldset>

  <fieldset>
    <%= f.label :user_suffix, required_span_with("LDAP User Suffix") %>
    <%= f.text_field :user_suffix %> Ex: u=john,dc=orangehrm,dc=com
  </fieldset>

  <fieldset>
    <%= f.check_box :enable_authentication %>
    <%= f.label :enable_authentication, "Enable LDAP Authentication", class: "checkbox inline" %>
  </fieldset>

  <br>

  <fieldset>
    <%= f.check_box :status %>
    <%= f.label :status, "Activate LDAP Configuration", class: "checkbox inline" %>
  </fieldset>

  <br>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
