<h1>Listing Languages</h1>

<%= render partial: '/shared/paginate_collection', locals: { records: @qualifications_languages } %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @qualifications_languages.each do |qualifications_language| %>
      <tr>
      <td>
        <%= qualifications_language.name %>
      </td>
        <td>
          <%= link_to edit_icon, edit_qualifications_language_path(qualifications_language, pagination_params) %>
        </td>
        <td>
          <%= link_to delete_icon, qualifications_language_path(qualifications_language, pagination_params), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language', new_qualifications_language_path, class: "btn" %>