<%= form_for([:configuration, @termination_reason]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @termination_reason, name: "termination reason" } %>

  <fieldset>
    <div class="actions">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </fieldset>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
