<%= form_for([:organization, @organization_location]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @organization_location, name: "organization location" } %>

  <fieldset>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset>
    <%= f.label :number_of_employees %><br>
    <%= f.number_field :number_of_employees %>
  </fieldset>

  <%= f.fields_for :address_attributes, @organization_location.address do |address_fields| %>
    <%= render partial: "/shared/address/form", locals: { f: address_fields } %>
  <% end %>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
