<%%= form_for(@<%= singular_table_name %>) do |f| %>

  <%%= render partial: "/shared/form_errors", locals: { obj: @<%= singular_table_name %>, name: "<%= singular_table_name.gsub("_", " ") %>" } %>

<% attributes.each do |attribute| -%>
  <fieldset>
<% if attribute.password_digest? -%>
    <%%= f.label :password %><br>
    <%%= f.password_field :password %>
  </fieldset>
  <fieldset>
    <%%= f.label :password_confirmation %><br>
    <%%= f.password_field :password_confirmation %>
<% else -%>
  <%- if attribute.reference? -%>
    <%%= f.label :<%= attribute.column_name %> %><br>
    <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
  <%- else -%>
    <%%= f.label :<%= attribute.name %> %><br>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  <%- end -%>
<% end -%>
  </fieldset>
<% end -%>

  <fieldset>
    <div class="actions">
      <%%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<%% end %>
