<h1> Edit Authentication Configuration</h1>

<%= form_for [:user_management, @authentication_configuration] do |f| %>
  <% if @authentication_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authentication_configuration.errors.count, "error") %> prohibited this authentication configuration from being saved:</h2>

      <ul>
      <% @authentication_configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset class="span9">
    <%= f.check_box :status %>
    <%= f.label :status, "Enable Authentication Settings" ,class: "checkbox inline" %>
  </fieldset>

  <fieldset class="span9">
    <%= f.check_box :reset_password %>
    <%= f.label :reset_password, "User can reset the password" ,class: "checkbox inline" %>
  </fieldset>

  <fieldset class="span9">
    <%= f.check_box :enable_recaptcha %>
    <%= f.label :enable_recaptcha, "Enable Recaptcha" ,class: "checkbox inline" %>
  </fieldset>

  <fieldset class="span9">
    <%= f.label :attempts_to_enable_recaptcha %>
    <%= f.text_field :attempts_to_enable_recaptcha %>
  </fieldset>

  <fieldset class="span9">
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>


