<%= form_for([:job, @pay_grade]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @pay_grade, name: "pay grade" } %>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset>
    <%= f.label :currency_id %>
    <%= f.select :currency_id, Currency.sorted_collection, { include_blank: true }, class: "select2" %>
  </fieldset>

  <fieldset>
    <%= f.label :min_salary, "Minimum Salary" %>
    <%= f.number_field :min_salary %>
  </fieldset>

  <fieldset>
    <%= f.label :max_salary, "Maximum Salary" %>
    <%= f.number_field :max_salary %>
  </fieldset>

  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
