<h1>Listing Pay Grades</h1>

<%= render partial: '/shared/paginate_collection', locals: { records: @pay_grades } %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Currency</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pay_grades.each do |pay_grade| %>
      <tr>
        <td><%= pay_grade.name %></td>
        <td>
          <%= pay_grade.currency.short_name %>
        </td>
        <td class='align-center'>
          <%= link_to edit_icon, edit_job_pay_grade_path(pay_grade) %>
        </td>
        <td class='align-center'>
          <%= link_to delete_icon, job_pay_grade_path(pay_grade, pagination_params), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pay grade', new_job_pay_grade_path, class: "btn" %>
