<h1>Listing Leave Notifications</h1>

<%= render partial: '/shared/paginate_collection', locals: { records: @leave_notifications } %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Send On</th>
      <th>Leave for next(days)</th>
      <th>Mail Subject</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @leave_notifications.each do |leave_notification| %>
      <tr>
        <td>
          <%= leave_notification.name %>
        </td>
        <td>
          <%= get_date_in_format leave_notification.send_on, "%m/%d/%Y" %>
        </td>
        <td>
          <%= leave_notification.for_days %>
        </td>
        <td>
          <%= leave_notification.mail_subject %>
        </td>
        <td>
          <%= description_for(AppEnumerables::LeaveNotificationStatus,leave_notification.status) %>
        </td>

        <td>
          <%= link_to edit_icon, edit_configuration_leave_notification_path(leave_notification, pagination_params) if leave_notification.editable? %>
        </td>
        <td>
          <%= link_to delete_icon, configuration_leave_notification_path(leave_notification, pagination_params), method: :delete, data: { confirm: 'Are you sure?' } if leave_notification.destroyble? %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leave notification', new_configuration_leave_notification_path, class: "btn" %>