<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @organization_organization_structure.unit_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organization_organization_structure.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization_organization_structure.description %>
</p>

<%= link_to 'Edit', edit_organization_organization_structure_path(@organization_organization_structure) %> |
<%= link_to 'Back', organization_organization_structures_path %>
