<ul class="nav nav-pills">

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User Management <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Users", user_management_users_path %>
      </li>
      <li>
        <%= link_to "User Roles", user_management_roles_path %>
      </li>
      <li>
        <%= link_to "Authentication Configuration",
          edit_user_management_authentication_configuration_path %>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Job<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Job Titles", job_job_titles_path %>
      </li>
      <li>
        <%= link_to "Salary Components", job_salary_components_path %>
      </li>
      <li>
        <%= link_to "Pay Grades", job_pay_grades_path %>
      </li>
      <li>
        <%= link_to "Employment Status", job_employment_statuses_path %>
      </li>
      <li>
        <%= link_to "Job Category", job_categories_path %>
      </li>
      <li>
        <%= link_to "Work Shifts", job_work_shifts_path %>
      </li>
      <li>
        <%= link_to "Interviews", job_interviews_path %>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Organization<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "General Information", edit_organization_organization_general_information_path(DEFAULT_ID) %>
      </li>
      <li>
        <%= link_to "Locations", organization_organization_locations_path %>
      </li>
      <li>
        <%= link_to "Structure", organization_organization_structures_path %>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Qualifications<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Skills", qualifications_skills_path %>
      </li>
      <li>
        <%= link_to "Education", qualifications_educations_path %>
      </li>
      <li>
        <%= link_to "Licenses", qualifications_licenses_path %>
      </li>
      <li>
        <%= link_to "Languages", qualifications_languages_path %>
      </li>
      <li>
        <%= link_to "Memberships", qualifications_memberships_path %>
      </li>

    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" href="<%= nationalities_path %>" >Nationalities</a>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" href="<%= manage_news_index_path %>" >Manage News</a>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Documents<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Manage", document_manage_documents_path %>
      </li>
      <li>
        <%= link_to "Manage Categories", document_categories_path %>
      </li>
    </ul>
  </li>


</ul>