<a href="#">Leave</a>

<ul>
  <li>
    <%= link_to "Entitlements", leave_entitlements_path %>
  </li>
  <li>
    <a href="#">Reports</a>
    <ul>
      <li>
        <%= link_to "Leave Entitlements Usage", "#" %>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">Configure</a>
    <ul>
      <li>
        <%= link_to "Leave Period", configuration_leave_periods_path %>
      </li>
      <li>
        <%= link_to "Leave Types", "#" %>
      </li>
      <li>
        <%= link_to "Work Week", "#" %>
      </li>
      <li>
        <%= link_to "Holidays", "#" %>
      </li>
      <li>
        <%= link_to "Notifications", "#" %>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to "Leave List", "#" %>
  </li>
  <li>
    <%= link_to "Assign Leave", "#" %>
  </li>
  <li>
    <%= link_to "Leave Calendar", "#" %>
  </li>
</ul>