<a href="#">Leave</a>

<ul>
  <li>
    <%= link_to "Entitlements", leave_entitlements_path %>
  </li>
  <li>
    <a href="#">Reports</a>
    <ul>
      <li>
        <%= link_to "Leave Entitlements Usage", "#" %>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">Configure</a>
    <ul>
      <li>
        <%= link_to "Leave Period", configuration_leave_periods_path %>
      </li>
      <li>
        <%= link_to "Leave Types", configuration_leave_types_path %>
      </li>
      <li>
        <%= link_to "Work Week", configuration_work_weeks_path %>
      </li>
      <li>
        <%= link_to "Holidays", configuration_holidays_path %>
      </li>
      <li>
        <%= link_to "Notifications", configuration_leave_notifications_path %>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to "Leaves", configuration_leaves_path %>
  </li>
  <li>
    <%= link_to "Leave Calendar", "#" %>
  </li>
</ul>