<ul>
  <li>
    <a href="#">Configuration</a>
    <ul>
      <li>
        <%= link_to "Custom Fields", configuration_custom_fields_path %>
      </li>
      <li>
        <%= link_to "Data Imports", configuration_csv_imports_path %>
      </li>
      <li>
        <%= link_to "Reporting Methods", configuration_reporting_methods_path %>
      </li>
      <li>
        <%= link_to "Termination Reasons", configuration_termination_reasons_path %>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">Employee List</a>
  </li>
  <li>
    <a href="#">Add Employee</a>
  </li>
  <li>
    <a href="#">Reports</a>
    <ul>
      <li>
        <%= link_to "PIM Reports", "#" %>
      </li>
      <li>
        <%= link_to "Employee Termination Report", "#" %>
      </li>
      <li>
        <%= link_to "Employee Hiring Report", "#" %>
      </li>
      <li>
        <%= link_to "Employee Report", "#" %>
      </li>
      <li>
        <%= link_to "Head Count Report", "#" %>
      </li>
      <li>
        <%= link_to "License Expiry Report", "#" %>
      </li>
    </ul>
  </li>
</ul>